{% extends "base.html" %}
{% load extra %}
{% load mathfilters %}
{% load widget_tweaks %}

{% block title %}Articles for {{ year }}{% endblock %}

{% block content %}
    <h2>JPNIC {{ name }}</h2>
    <br/>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <p>*本システムはDNSやDSレコードの追加・削除に対応しておりません。</p>
        <div class="row g-2">
            <div class="col-1">
                {{ form.ipv6.label }}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value={{ form.ipv6.value }}
                            name="{{ form.ipv6.name }}" id="{{ form.ipv6.id_for_label }}" onclick="check_ipv6()">
                </div>
            </div>
            <div class="col-2">
                {{ form.asn.label }}
                <input type="number" autocomplete="off" list="agent_region" class="form-control"
                       value="{{ form.asn.value|default:"" }}" name="{{ form.asn.name }}"
                       id="{{ form.asn.id_for_label }}" required>
            </div>
            <div class="col-5">
                {{ form.ip_address.label }}
                <input type="text" autocomplete="off" list="agent_region" class="form-control"
                       value="{{ form.ip_address.value|default:"" }}" name="{{ form.ip_address.name }}"
                       id="{{ form.ip_address.id_for_label }}" required>
            </div>
            <div class="col-2">
                {{ form.kind.label }}
                <select class="form-select" aria-label="Default select example" name="{{ form.kind.name }}"
                        id="{{ form.kind.id_for_label }}">
                    <option disabled selected>Open this select menu</option>
                    {% for field in form.kind %}
                        {{ field }}
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary" type="submit" name="search">検索</button>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script>
        let is_ipv6 = false;

        function check_ipv6() {
            console.log(is_ipv6)
            is_ipv6 = !is_ipv6
            $('#{{ form.kind.id_for_label }}').prop("disabled", is_ipv6);
        }
    </script>
{% endblock javascript %}