{% extends 'base.html' %}

{% block content %}
    {% is_saml_mode as is_saml_mode %}
    <h1 class="h3 mb-3 font-weight-normal">ログインが必要です</h1>
    {% if is_saml_mode %}
        <a href="/saml2/login">
            <button type="button" class="btn btn-primary">SSOでログイン</button>
        </a>
    {% else %}
        <div class="container">
            <div class="p-3 border bg-light">
                <form method="post" class="needs-validation" novalidate>
                    <div class="row g-2">
                        <div class="col-3">
                            <label for="id_username">{{ form.username.label }}</label>
                            {{ form.username }}
                        </div>
                        <div class="col-3">
                            <label for="id_password">{{ form.password.label }}</label>
                            {{ form.password }}
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                    <br/>
                    <button class="btn btn-primary" type="submit">ログイン</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block javascript %}
{% endblock javascript %}
