<li class="nav-item">
</li>
<li class="nav-item">
</li>
<a class="nav-link " href="{% url 'index' %}" role="button" aria-expanded="false">IP情報</a>
<a class="nav-link " href="{% url 'resource' %}" role="button" aria-expanded="false">資源情報</a>
<a class="nav-link " href="{% url 'search' %}" role="button" aria-expanded="false">アドレス検索</a>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown_assignment" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">割当ツール</a>
    <div class="dropdown-menu" aria-labelledby="dropdown_assignment">
        <a class="dropdown-item" href="{% url 'assignment:add' %}">追加</a>
        <a class="dropdown-item" href="{% url 'assignment:change' %}">変更</a>
        <a class="dropdown-item" href="{% url 'assignment:delete' %}">返却</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown_person" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">担当者ツール</a>
    <div class="dropdown-menu" aria-labelledby="dropdown_person">
        <a class="dropdown-item" href="{% url 'person:add' %}">追加</a>
        <a class="dropdown-item" href="{% url 'person:change' %}">変更</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">管理メニュー</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" href="{% url 'admin:index' %}">管理者画面</a>
        <a class="dropdown-item" href="{% url 'config:add_as' %}">AS・証明書の追加</a>
        <a class="dropdown-item" href="{% url 'config:list_as' %}">AS・証明書の確認/変更</a>
        {#        <a class="dropdown-item">ログアウト</a>#}
    </div>
</li>